@using System.Data
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.Razor

@model DataTable

@{
    ViewData["Title"] = "Tree Structure";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        margin: 20px;
    }

    h2 {
        color: #007bff;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 10px;
    }

    .toggle-icon {
        cursor: pointer;
    }
</style>

<h2>Tree Structure</h2>

<ul class="pl-0">
    @foreach (DataRow row in Model.Rows)
    {
        if (Convert.ToInt32(row["ParentId"]) == 0)
        {
            <li>
                <span class="toggle-icon" data-toggle="collapse" data-target="#node-@(row["ObjectId"])">
                    @row["Name"]
                </span>
                <div id="node-@(row["ObjectId"])" class="collapse">
                    @RenderChildren(Model, Convert.ToInt32(row["ObjectId"]))
                </div>
            </li>
        }
    }
</ul>

@functions {
    IHtmlContent RenderChildren(DataTable dataTable, object parentId)
    {
        var children = dataTable.Select($"ParentId = {parentId}");
        if (children.Any())
        {
            var ulTag = new TagBuilder("ul");

            foreach (var child in children)
            {
                var liTag = new TagBuilder("li");
                liTag.InnerHtml.AppendHtml((string)child["Name"]);
                liTag.InnerHtml.AppendHtml(RenderChildren(dataTable, (object)Convert.ToInt32(child["ObjectId"])));
                ulTag.InnerHtml.AppendHtml(liTag);
            }

            return ulTag;
        }

        return new HtmlString(""); // Empty HTML content
    }
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.toggle-icon').click(function () {
            $(this).toggleClass('collapsed');
        });
    });
</script>