@using System.Data
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.Razor

@model DataTable

@{
    ViewData["Title"] = "Tree Structure Result";
}

<h2>Tree Structure</h2>

<div class="accordion" id="treeAccordion">
    @foreach (DataRow row in Model.Rows)
    {
        if (Convert.ToInt32(row["ParentId"]) == 0)
        {
            <div class="card mt-3">
                <div class="card-header" id="heading-@(row["ObjectId"])">
                    <h5 class="mb-0">
                        <button class="btn btn-link toggle-icon" type="button" data-toggle="collapse" data-target="#node-@(row["ObjectId"])">
                            @row["Name"]
                        </button>
                    </h5>
                </div>
                <div id="node-@(row["ObjectId"])" class="collapse" data-parent="#treeAccordion">
                    <div class="card-body">
                        @RenderChildren(Model, Convert.ToInt32(row["ObjectId"]))
                    </div>
                </div>
            </div>
        }
    }
</div>

@functions {
    IHtmlContent RenderChildren(DataTable dataTable, object parentId)
    {
        var children = dataTable.Select($"ParentId = {parentId}");
        if (children.Any())
        {
            var divTag = new TagBuilder("div");
            divTag.AddCssClass("accordion");

            foreach (var child in children)
            {
                var cardTag = new TagBuilder("div");
                cardTag.AddCssClass("card");

                var cardBodyTag = new TagBuilder("div");
                cardBodyTag.AddCssClass("card-body");
                cardBodyTag.InnerHtml.AppendHtml((string)child["Name"]);
                cardBodyTag.InnerHtml.AppendHtml(RenderChildren(dataTable, (object)Convert.ToInt32(child["ObjectId"])));

                cardTag.InnerHtml.AppendHtml(cardBodyTag);
                divTag.InnerHtml.AppendHtml(cardTag);
            }

            return divTag;
        }

        return new HtmlString("");
    }
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.toggle-icon').click(function () {
                $(this).toggleClass('collapsed');
            });
        });
    </script>
}